.slider_banner_::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 177px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    hsla(0, 0%, 100%, 0)
  );
  top: 0;
  z-index: 2;
}

.box_1 p {
  font-size: 10px;
  color: #999;
}
.box_1 .p {
  font-size: 10px;
  color: #999;
}

.box_1 h4 {
  font-size: 15px;
  font-weight: 700;
  color: #403f3f;
  margin: 0 0 2px;
}

.box_1,
.box_1 img {
  height: 95px;
}
.box_1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.box_1 {
  border-radius: 7px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  display: inline-block;
  overflow: hidden;
  margin: 3px 0 25px;
  transition: box-shadow 0.2s;
}

.royal-details h4 {
  font-weight: 600;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.royal-details {
  padding: 0 12px;
}

.btn_anchor {
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background-image: linear-gradient(
    118deg,
    #f79421 17%,
    #f06726 54%,
    #dc2d4d 95%
  );
}

._clr_brand {
  border-radius: 24px;
  background-image: linear-gradient(
    144deg,
    #f79421 3%,
    #f06726 48%,
    #dc2d4d 99%
  );
}
.kiomoi_box h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.kiomoi_box {
  padding: 30px;
  color: #fff;
}
.kiomoi_box h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}
.kiomoi_box p {
  font-size: 14px;
  margin: 0 0 15px;
}
.kiomoi_box a {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  padding-top: 40px;
  clear: both;
  display: inline-block;
}

._service_list {
  width: calc(33.33333% - 4px);
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.ellipse_3 {
  margin: 0 auto;
  width: 135px;
  height: 135px;
  line-height: 135px;
  border: 1px solid #f06726;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden;
  text-align: center;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition:
    filter 0.2s,
    -webkit-filter 0.2s;
}
.ellipse_3 img {
  height: 73px;
}
.btn,
.search_icon,
a,
img {
  max-width: 100%;
  transition: 0.2s cubic-bezier(0.43, 0, 0.03, 1);
}

._text_- {
  padding: 20px 0 60px;
}
._text_- h4 {
  margin-bottom: 5px;
}
._text_- h4,
.btn_circle {
  font-size: 18px;
  font-weight: 600;
  color: #f06726;
}
._text_- p {
  font-size: 12px;
  line-height: 24px;
  color: #f06726;
}
.slider_banner_ .slider-wrapper {
  height: 450px;
}

.img-responsive_banner {
  width: 100%;
  vertical-align: top;
  /* -webkit-transform: scaleX(1.5); */
  /* transform: scaleX(1.5); */
  object-fit: contain;
  border: 0;
  max-height: 500px;
  height: 500px;
  /* border-radius: 0 0 50% 50% !important; */
  /* transform: scaleX(1.5); */
}

@media (max-width: 767px) {
  .img-responsive_banner {
    object-fit: unset;
    height: 300px;
    /* -webkit-transform: scaleX(1);
    transform: scaleX(1); */
  }

  ._service_list {
    width: calc(50% - 4px);
  }

  .slider_banner_ .slider-wrapper {
    height: auto;
  }
}
