.item_group {
  font-size: auto;
}
.right_icons .item {
  /* padding:25px 20px 25px 20px;*/
  padding: 15px 20px 15px 20px;
}
.item {
  font-size: auto;
  /* padding:23px;*/
  /* padding:15px 20px 10px 20px; */
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}
.logo_item {
  cursor: pointer;
  /* padding:15px 30px 15px 0px; */
  /* padding:10px 15px 10px 0; */
}
nav {
  font-size: auto;
  width: 100%;
  /* height:65px; */
  position: fixed;
  top: 0;
  background: transparent;
  /* box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1); */
}

.shadow-sm_ .nav-text,
.shadow-sm_ .c_it {
  color: white;
}
.shadow-sm_ {
  overflow: auto;
  z-index: 3;
}
.navbar-dflt {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  background: white;
}

.navbar-fixed .nav-text,
.navbar-fixed .c_it {
  color: #a7a7a7;
}

.navbar-dflt .c_it,
.navbar-dflt .nav-text {
  color: #a7a7a7;
}

.c_it {
  display: flex;
  flex-flow: column;
  /* color:#a7a7a7; */
}
.c_it:hover {
  color: #f06726;
}
.nav-text:hover {
  color: #f06726;
}

.navbar-fixed .img {
  height: 30px;
}

.c_it img {
  width: 25;
  height: 22px;
  margin: auto;
}

.nav-text {
  /* font-size:14px; */
  font-size: 13px;
  /* color:#a7a7a7; */
}

.s_icon {
  position: absolute;
  top: 21px;
  color: grey;
  left: 15px;
}
.cr_icon {
  position: absolute;
  top: 21px;
  color: grey;
  right: 15px;
  cursor: pointer;
}
.s_form {
  padding: 0px 40px 1px 40px;
  height: 62px;
  border-color: transparent !important;
}
.s_form:hover,
.s_form:active,
.s_form:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.drop_item {
  padding: 10px 5px 10px 18px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.d_content {
  font-weight: 500;
  overflow: auto;
}
.s_name {
  font-size: 13px;
}
.n_d {
  font-size: 10px;
  color: #f06726;
  font-weight: 300;
}
.d_price {
  font-size: 13px;
  color: #f06726;
}
.drop_down {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset; */
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  border-color: transparent;
  background: white;
  left: 0;
  right: 0;
  width: 100%;
}
.brand-logo {
  height: 40px;
}

.navbar-fixed {
  position: sticky;
  background: white;
  /* background: transparent; */
  width: 100%;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.nv_search {
  padding: 15px 0 15px 40px;
}

.s_load {
  color: #f06726;
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .right_icons .item {
    padding: 15px 10px 15px 15px;
  }

  .brand-logo {
    height: 35px;
  }
  .item {
    padding: 10px 10px 10px 10px;
    /* padding: 20px 4px 10px 0px; */
  }
  .right-icons .item {
    padding: 15px 20px 15px 20px !important;
  }
  .nav-text {
    font-size: 11px;
  }
  /* .logo_item{
        padding: 15px 4px 10px 0px;
    } */
}
